body {
    margin: 0;
    padding: 0;
    background: url(background.jpg) no-repeat;
    background-size: cover;
}

.box {
    width: 450px;
    background: #321432;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 7%;
    color: #FFE5E5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.box img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transition: 0.5s;
    cursor: pointer;
}

.box img:hover {
    transform: scale(0.9);
}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: bolder;
}

.box h3 {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
}

.box h4 {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: normal;
}

.box p {
    text-align: justify;
}

ul {
    margin: 0;
    padding: 0;
}

.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a {
    color: #D97676;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.box li a:hover {
    color: #FFE5E5;
}