@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: flex;
}

a {
    color: #ccc;
    text-decoration: none;
}

h1 h2 h3 {
    color: #fff;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
    color: #ccc;
}